.home-container {
  background: url("/static/media/stars.0abcdfcd.svg"), #1b1b25 repeat;
}

.text {
  color: #ffffff !important;
}

.astronauts {
  width: 450px;
}

.platzi-conf,
.custom-container {
  width: 210px;
}
